.cards {
    display: flex;
    background-color: rgba(17, 17, 17, 0); 
    margin-top: 2em;
    padding: 1em;
    border: 3px solid white;
    border-radius: 5%;
    gap: 1.5em;

    
}


.card1{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) ;
}

.card1-texto{
    color: var(--cor-letra);
    background-image: rgba(0, 0, 0, 0), rgba(0, 0, 0, 0);
}



.card2{
    display: flex;
    align-items: center;
}

.card2 img{
    margin-left: 0.5em;
    height: 32px;;
    padding: 3px;
    width: 38px;
    border: solid 4px white;
    border-radius: 100%;
    
    
}
.card2-titulo{
    color: var(--cor-letra);
    font-size: 24px;
    font-family: var(--fonte-principal);
}

@media screen and (min-width:1024px){
    .cards{
        width:45%;
        border-radius: 0px; 
        margin: 0.5em;
        max-height: 150px;

        
    }

    .grid-container img{
        width: 178px;
        height: 86px;
        margin: 10px;
    }
}

