.cabecalho {
    display: flex;
    justify-content: space-between;
    background-image: var(--cor-de-fundo-header);
    margin: 0.5em;
    position: relative;
}

.cabecalho__menu-hamburguer{
    display: inline-block;
}


.container-menu{ 
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0 0.5em;
    height: 26px;
    width: 26px;
}

.lista-menu{
    display:none;
    position: absolute;
    top:100%;
    width: 60vw;
    background: var(--cor-de-fundo-header);
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__item{
    padding: 1em;

}

.lista-menu__item:hover{
    background-color: #9500ff41;

}

.lista-menu__link{
    color: var(--cor-letra);
    text-decoration: none;
    font-family: var(--fonte-principal);
    
}




.container__botao{
    display:none;
}

.container__menu-titulo{
    display: none;
}

@media screen and (min-width:1024px){
    .cabecalho__menu-hamburguer{
        display: none;
    }

    .container__menu-titulo{
        display: block;
        margin-left: 1.4em;
    }

    .container__imagem{
        display: none;
    }

    .container-menu{
        display: flex;
        gap: 1em;
    }

    .container1{
        display: none;

    }

    .container2{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .container__menu-link{
        text-decoration: none;
        color:var(--cor-letra);
        font-family:var(--fonte-principal);
        font-size: 20px;
        
    }
}