@import url(./header.css);
@import url(./reset.css);
@import url(./carrossel.css);
@import url(./cards.css);
@import url(./destaque.css);
@import url(./rodape.css);
@import url(./main.css);
@import url(./conquistas.css);

:root{
    --cor-de-fundo-header: linear-gradient(#170626 20%, #37145a, #170626);
    --cor-de-fundo-body: linear-gradient(#180b22 20%, #190829, #000000);
    --cor-de-fundo-transparente-destaque: linear-gradient(to right, rgba(23, 6, 38, 0.5), rgba(55, 20, 90, 0.5));
    --cor-de-fundo-transparente: linear-gradient(rgba(23, 6, 38, 0.8) 20%, rgba(55, 20, 90, 0.8), rgba(23, 6, 38, 0.8));
    --cor-letra: white;
    --fonte-principal: "Montserrat", sans-serif;
    
}

body{
    background-image: var(--cor-de-fundo-body);
    background-repeat: no-repeat;
    font-size: 16px;
    height:100%;
}


